<%= form_for [:admin, @moderator] do |f| %>
	<% if @moderator.errors.any? %>
    <div id="validation_errors">
      <ul>
      <% @moderator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<p>
		<%= f.label :full_name %><br>
		<%= f.text_field :fullname %>
	</p>
	<p>
		<%= f.label :username %><br>
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :password %><br>
		<%= f.password_field :password %>
	</p>
	<p><%= f.submit %></p>
<% end %>