<div class="container">
	<h1>Moderators</h1>

	<table class="table table-bordered">
	  <thead>
			<tr>
				<th>full name</th>
				<th>username</th>
				<th colspan="3">actions</th>
			</tr>
		</thead>

		<tbody>
			<% @moderators.each do |moderator| %>
				<tr class="moderator-row">
					<td><%= moderator.fullname %></td>
					<td><%= moderator.username %></td>
					<td>
						<%= link_to 'Edit', edit_admin_moderator_path(moderator) %>
						<%= link_to 'Delete', admin_moderator_path(moderator), method: :delete %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<p><%= paginate @moderators %></p>
</div>