<div class="container">
	<h1>Moderators</h1>
	<p>
		<%= link_to 'New', new_admin_moderator_path %>
	</p>

	<table class="table table-bordered">
	  <thead>
			<tr>
				<th>full name</th>
				<th>username</th>
				<th colspan="3">actions</th>
			</tr>
		</thead>

		<tbody>
			<% @moderators.each do |admin| %>
				<tr class="moderator-row">
					<td><%= admin.fullname %></td>
					<td><%= admin.username %></td>
					<td>
						<%= link_to 'Edit', edit_admin_moderator_path(admin) %> |
						<%= link_to 'Delete', admin_moderator_path(admin), method: :delete %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<p><%= paginate @moderators %></p>
</div>