<h1>Comments</h1>

<%= form_tag(admin_comment_search_index_path, method: 'get') do %>
	<%= text_field_tag(:search) %>
	<%= submit_tag("Search") %>
<% end %>

<br>

<%= link_to 'Approved', admin_comments_path(approved: true) %>
<%= link_to 'Not Approved', admin_comments_path(approved: false) %><br>

<% @comments.each do |comment| %>
	<p>
		<b><%= comment.visitor.fullname %></b> posted message on <b><%= comment.post.title %></b><br>
		<%= time_ago_in_words(comment.created_at) %><br>
		<%= comment.message %>
	</p>
	<p>
		<% if params[:approved] == 'false' %>
			<%= link_to 'Approve', admin_comment_path(comment, status: true), method: :put %>
		<% end %>

		<% if params[:approved] == 'true' %>
			<%= link_to 'Un-approve', admin_comment_path(comment, status: false), method: :put %>
		<% end %>

		<%= link_to 'Delete', admin_comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>
