<h1>Administrators</h1>

<table class="table table-bordered">
  <thead>
		<tr>
			<th>full name</th>
			<th>username</th>
			<th colspan="2">password</th>
		</tr>
	</thead>

	<tbody>
		<% @administrators.each do |admin| %>
			<tr>
				<td><%= admin.fullname %></td>
				<td><%= admin.username %></td>
				<td><%= admin.password %></td>
				<td>
					<%= link_to 'Edit', edit_admin_administrator_path(admin) %> |
					<%= link_to 'Show', admin_administrator_path(admin) %> |
					<%= link_to 'Delete', admin_administrator_path(admin), method: :delete %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>
<%= link_to 'New', new_admin_administrator_path %>