<h1>Dashboard</h1>

<h2>Posts</h2>
<%= link_to 'Create new post', new_admin_post_path %>
<%= link_to 'View all posts', admin_posts_path %>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>title</th>
			<th>replies</th>
			<th>date</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td><%= truncate(post.title, length: 40, separator: ' ')%></td>
				<td><%= post.comments.count %></td>
				<td><%= time_ago_in_words(post.created_at) %></td>
				<td>
					<%= link_to 'edit', edit_admin_post_path(post) %>
					<%= link_to 'view', admin_post_path(post) %>
					<%= link_to 'del', admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<h2>Comments</h2>
<%= link_to 'View all comments', admin_comments_path %>
<% @comments.each do |comment| %>
	<div>
		<%= comment.visitor.fullname %> <br>
		<%= time_ago_in_words(comment.created_at) %> <br>
		<%= truncate(comment.message, length: 40, separator: ' ') %>
	</div>
	<hr>
<% end %>

<h2>Visitors</h2>
<%= link_to 'View all visitors', admin_visitors_path %>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Full name</th>
			<th>Email</th>
			<th>Created</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @visitors.each do |visitor| %>
			<tr>
				<td><%= visitor.fullname %></td>
				<td><%= visitor.email %></td>
				<td><%= time_ago_in_words(visitor.created_at) %></td>
				<td>
					<%= link_to 'del', admin_visitor_path(visitor), method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>