<h1>Messages</h1>

<p>
	<%= render 'search', route: admin_messages_path %>
</p>

<% @messages.each do |message| %>
	<p style=<%= message_weight(message) %>>
		<%= message.visitor.fullname %><br>
		<%= truncate(message.content, length: 60, separator: '') %><br>
		<%= status_converter(message.status, truthy: 'Read', falsey: 'Un-Read') %><br>
		<%= time_ago(message.created_at) %><br>
	</p>

	<p>
		<%= link_to 'Delete', admin_message_path(message), method: :delete, data: {confirm: 'Are you sure?'} %>
		<%= link_to 'Show', admin_message_path(message) %>
	</p>

	<p>
		<%= build_read_status_link message %>
	</p>

	<hr>
<% end %>

<%= paginate @messages %>