<div class="container">
	<h2>New</h2>
	
	<%= form_for [:admin, @tag] do |f| %>
		<% if @tag.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

	      <ul>
	      <% @tag.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  
		<p>
			<%= f.label :name %><br>
			<%= f.text_area :name %>
		</p>
		<p><%= f.submit %></p>
	<% end %>

	<h2>Index</h2>

	<table class="table table-bordered">
	  <thead>
			<tr>
				<th>name</th>
				<th colspan="3">actions</th>
			</tr>
		</thead>

		<tbody>
			<% @tags.each do |tag| %>
				<tr>
					<td><%= tag.name %></td>
					<td>
						<%= link_to 'Edit', edit_admin_tag_path(tag) %> |
						<%= link_to 'Show', admin_tag_path(tag) %> |
						<%=
							if !tag.in_use?
								link_to 'Delete', admin_tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' }
							else
								'Disabled'
							end
						%>

					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<br>
	<%= link_to 'New', new_admin_tag_path %>
	
</div>