<%= form_for [:admin, @post] do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content %><br>
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.label :publish %><br>
		<%= f.check_box :publish %>
	</p>
	<p>
		<%= f.label :administrator %><br>
		<%= f.text_field :administrator_id %>
	</p>
	<p><%= f.submit %></p>
<% end %>