<p><%= render 'validation_errors', object: @post %></p>

<%= form_for [:admin, @post] do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :content %><br>
		<%= f.text_field :content %>
	</p>

	<p>
		<%= f.label :publish %><br>
		<%= f.check_box :publish %>
	</p>

	<p>
		<%= f.select :tag_ids, Tag.all.collect {|t| [t.name, t.id]}, {prompt: 'Select Tag'}, multiple: :true %>
	</p>

	<p><%= f.submit %></p>
<% end %>