<%= form_for [:admin, @setting] do |f| %>
	<p>
		<%= f.label :site_name %><br>
		<%= f.text_field :site_name %>
	</p>
	<p>
		<%= f.label :post_per_page %><br>
		<%= f.number_field :post_per_page %>
	</p>
	<p>
		<%= f.label :under_maintenance %><br>
		<%= f.check_box :under_maintenance %>
	</p>
	<p>
		<%= f.label :prevent_commenting %><br>
		<%= f.select :prevent_commenting, [['disable', false], ['active', true]] %>
	</p>
	<p>
		<%= f.label :tag_visibility %><br>
		<%= f.select :tag_visibility, [['active', true], ['disable', false]] %>
	</p>
	<p><%= f.submit %></p>
<% end %>