<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @administrator.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @administrator.password %>
</p>

<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
