<div class="container">

	<%= link_to 'All Posts', posts_path %>

	<% @posts.each do |post| %>
		<p>
			<%= truncate(post.title, length: 70, separator: ' ') %><br>
			<%= "created #{time_ago_in_words(post.created_at)} ago" %>
		</p>

		<p>
			<%= truncate(post.content, length: 104, separator: ' ') { link_to "Read More", post_path(post) } %>
		</p>
		<p>
			<ul>
				<% if Setting.tag_visible? %>
					<% post.tags.each do |tag| %>
							<li><%= link_to tag.name, posts_path(tag: tag.name) %></li>
					<% end %>
				<% end %>
			</ul>
		</p>
	<% end %>

</div>

<p><%= paginate @posts if @posts.any? %></p>
